* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Heathergreen";
  src: url(./Heathergreen.otf);
}
@font-face {
  font-family: "Elisabeth";
  src: url(./elisabeth.regular.ttf);
}
@font-face {
  font-family: "QanelasSoft";
  src: url(./QanelasSoftDEMO-UltraLight.otf);
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid white;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.grow {
  transform: scale(5);
  background: #fff;
  mix-blend-mode: difference;
  border: none;
}

.grow-smaller {
  transform: scale(0.7);
  background: #fff;
  mix-blend-mode: lighten;
  transition: transform 0.3s ease, background 0.3s ease;
}

.grow-small {
  transform: scale(1.8);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em;
  color: #cdc6be;
  mix-blend-mode: difference;
  z-index: 999;
}

.info h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

nav .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 42px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #cdc6be;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #141412;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 101;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 100;
}

.menu-item {
  display: flex;
  cursor: pointer;
}

.menu-item p {
  position: relative;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15vw;
  line-height: 80%;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: #c03f13;
  width: 100%;
  height: 12px;
}

.sub-nav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  z-index: 102;
}

.sub-nav p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(16px + 0.5vw);
  color: #cdc6be;
}

.sub-nav p a {
  color: aliceblue;
}

nav h4 {
  margin: auto 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: auto 0;
}

.cr7-item {
  position: relative;
}

.cr7-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: red;
}

.main .cristiano {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  padding: 3.1rem 0;
  object-fit: cover;
}

.main .img-caption {
  font-size: 50px;
  color: white;
  bottom: 0;
  font-family: "Heathergreen";
  margin: 0;
}
.img-caption::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("https://img.icons8.com/?size=100&id=19318&format=png&color=000000");
  background-size: cover;
  margin-left: 10px;
  vertical-align: middle;
}

.main .cristiano-b-w {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  will-change: transform;
}

#my-text {
  font-size: calc(20px + 2.2vw);
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  font-family: "Oswald", sans-serif;
  z-index: 100;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0.5s;
  min-width: 200px;
  /* font-weight: 900; */
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
a {
  color: white;
  text-decoration: none;
}

.char {
  transform: translateY(115px);
  transition: transform 2s;
}

.main {
  height: 50vh;
  background-color: black;
}
.main2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50vh;
  background-color: black;
}

.main-col {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main-col h2 {
  z-index: 20;
  color: black;
  font-family: "Elisabeth";
}

.main-col p {
  z-index: 20;
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.btn-row a {
  text-decoration: none;
  font-size: calc(16px + 0.5vw);
}

.box1,
.box2,
.box3 {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: none;
}

.overlay-box1 {
  position: absolute;
  top: -100%;
  left: 0;
  width: 33.4%;
  height: 100%;
  background-color: white;
  transform: translateY(0);
  z-index: 1;
}
.overlay-box2 {
  position: absolute;
  top: -100%;
  width: 33.4%;
  height: 100%;
  background-color: white;
  transform: translateY(0);
}
.overlay-box3 {
  position: absolute;
  top: -100%;
  right: 0;
  width: 33.4%;
  height: 100%;
  background-color: white;
  transform: translateY(0);
}
.main2 .bottom-box1,
.main2 .bottom-box2,
.main2 .bottom-box3 {
  flex: 1;
  position: relative;
}

.main2 img {
  width: 100%;
  height: auto;
}

#my-text {
  mix-blend-mode: difference;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bottom-box1 {
  overflow: hidden;
  position: relative;
  width: 33.4%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  left: 0;
}
.bottom-box2 {
  overflow: hidden;
  position: relative;
  width: 33.4%;
  height: 100%;
  background-color: rgb(187, 187, 187);
}
.bottom-box3 {
  overflow: hidden;
  position: relative;
  width: 33.4%;
  height: 100%;
  background-color: rgb(135, 135, 135);
  right: 0;
}

.bottom-overlay-box1,
.bottom-overlay-box2,
.bottom-overlay-box3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateY(0);
  z-index: 200;
}

.bottom-box1 img,
.bottom-box2 img,
.bottom-box3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}

.bottom-box1:hover img,
.bottom-box2:hover img,
.bottom-box3:hover img {
  filter: brightness(0.5);
}

.bottom-box1 .details h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  font-family: "Inter", sans-serif;
}

.bottom-box2 .details h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  font-family: "Inter", sans-serif;
}

.bottom-box3 .details h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
  font-family: "Inter", sans-serif;
}

.details {
  position: absolute;
  height: 100%;
}

.l-shape1 {
  position: absolute;
  width: 2px;
  height: 25px;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 100;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    margin 0.2s ease-in-out 0.1s;
}

.l-shape1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 25px;
  height: 2px;
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.bottom-box1:hover .l-shape1,
.bottom-box2:hover .l-shape1,
.bottom-box3:hover .l-shape1 {
  width: 2px;
  height: 15px;
  margin-top: 35px;
  margin-left: 35px;
}
.bottom-box1:hover .l-shape1::before,
.bottom-box2:hover .l-shape1::before,
.bottom-box3:hover .l-shape1::before {
  width: 15px;
  height: 2px;
}

.l-shape2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 25px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 100;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    margin 0.2s ease-in-out 0.1s;
}

.l-shape2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 25px;
  height: 2px;
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.bottom-box1:hover .l-shape2,
.bottom-box2:hover .l-shape2,
.bottom-box3:hover .l-shape2 {
  width: 2px;
  height: 15px;
  margin-right: 35px;
  margin-bottom: 35px;
}

.bottom-box1:hover .l-shape2::before,
.bottom-box2:hover .l-shape2::before,
.bottom-box3:hover .l-shape2::before {
  width: 15px;
  height: 2px;
}

.arrow {
  border: 1px solid #000;
  border-radius: 100px;
  color: black;
  padding: 4px;
  box-sizing: content-box;
  transition: background 0.3s ease-in-out,transform 0.5s ease;
}

.main-col p:hover .arrow {
  background: #000;
  color: #fff;
  transform: translateX(10px);
}

@media (min-width: 992px) {
  .menu-item p {
    font-size: 10vw;
  }
  .sub-nav p {
    margin: 0;
  }
  .grow {
    transform: scale(5);
  }
  .main-col {
    margin-top: 3.5rem;
  }
}

@media (min-width: 992px) {
  .main-col h2 {
    font-size: calc(16px + 1.5vw);
  }
}

@media (max-width: 480px) {
  #my-text {
    font-size: calc(18px + 4.7vw);
  }
  .main2 {
    height: 100vh;
  }
  .details h1 {
    font-size: calc(1.6rem + 1vw);
  }
  .cursor {
    height: 30px;
    width: 30px;
  }
  .grow {
    transform: scale(3.3);
  }
  .main img {
    max-width: 300px;
  }
  .main .img-caption {
    font-size: calc(20px + 4.5vw);
  }
  .main-col h2 {
    position: absolute;
    bottom: 20%;
  }
  .main-col p {
    position: absolute;
    bottom: 10%;
  }

  .menu-item {
    font-weight: 500;
  }

  .overlay-box1,
  .overlay-box3 {
    display: none;
  }

  .overlay-box2 {
    width: 100%;
  }

  .cristiano-b-w {
    width: 60%;
  }

  .main-col h2 {
    font-size: calc(18px + 2vw);
  }

  /* font-size: calc(20px + 2.2vw); */
}

@media (max-width: 768px) {
  .main2 {
    flex-direction: column;
  }

  .main2 .bottom-box1,
  .main2 .bottom-box2,
  .main2 .bottom-box3 {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .main2 {
    height: 160vh;
  }
  .bottom-box1 {
    min-height: 350px;
  }
}

@media (min-width: 480px) and (max-width: 992px) {
  .cursor {
    height: 30px;
    width: 30px;
  }
  .grow {
    transform: scale(4);
  }
}
